<div class="container-fluid ">
	<div>
	<p>这里是主页哦</p>
	</div>
	<div>
		<%= link_to t(:login), new_user_session_path, class:"btn btn-default button-red" %>
		<%= link_to t(:signup), new_user_registration_path, class:"btn btn-default button-grey" %>
	</div>
</div>