<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
  <li><%= link_to t(:logout), destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
  <li><%= link_to t(:login), homepage_path %></li>
  <% end %>
  <li><%= link_to t(:home), index_path %></li>
  <li><a data-toggle="modal" href="#help"><%=t(:help)%></a></li>
</ul>
